<div class="map-overlay">
  <button class="filter-chip active" data-type="all" onclick="setFilter('all', this)">All</button>
  <button class="filter-chip" data-type="homicide" onclick="setFilter('homicide', this)">Homicide</button>
  <button class="filter-chip" data-type="shooting" onclick="setFilter('shooting', this)">Shooting</button>
  <button class="filter-chip" data-type="robbery" onclick="setFilter('robbery', this)">Robbery</button>
  <button class="filter-chip" data-type="assault" onclick="setFilter('assault', this)">Assault</button>
  <button class="filter-chip" data-type="burglary" onclick="setFilter('burglary', this)">Burglary</button>
  <button class="filter-chip" data-type="theft" onclick="setFilter('theft', this)">Theft</button>
</div>
<div id="map"></div>
